<tr>
  <td class="properties__label">id</td>
  <td class="properties__data">{{gr-display-field model=model field='id' }}</td>
</tr>
 <tr>  <td class="properties__label">{{t 'title'}}</td>
  <td class="properties__data">{{gr-display-field model=model field='title' }}</td>
</tr>
<tr>  <td class="properties__label">{{t 'isbn'}}</td>
  <td class="properties__data">{{gr-display-field model=model field='isbn' }}</td>
</tr>
   
