<div class="content">
  <h2 class="title">{{t 'authors'}}</h2>
  {{#unless }}
    <div class="actions">
      {{#link-to "authors.new" class="btn new" title="Create new item" tagName='button' }}Create{{/link-to}}
    </div>
  {{/unless}}
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
            <th class="properties__label">{{t 'name'}}</th>
              <th class="properties__label">{{t 'book'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "authors.show" item tagName='tr' }}
            {{handle-attribute model=item attribute='id' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='name' tagName='td' classes='properties__data'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="empty">
      No {{t 'authors'}} in the database.
      {{#unless }} Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t 'author'}}.
      {{/unless}}
    </div>
  {{/if}}
</div>
