<div class="new">
  <h2 class="title">{{t 'New author'}}</h2>
  <div class="actions">
    <button type="button" class="btn save" title="Save new author" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>name</td><td align='middle'>{{input value=model.name placeholder=attribute.name}}</td></tr>

      <tr>  <td class="properties__label">{{t 'book'}}</td>
  {{display-model-relationship model=model.book kind='has-many' itemRoute='books.show' relationRoute='books.index' relationFilterKey='author' relationFilterValue=model.id configuredLabel='id'}}
</tr>
    </tbody>
  </table>
</div>
