<div class="content">
  <h2 class="title">{{t '<%= entitiesName %>'}}</h2>
  <div class="actions">
    {{#link-to "<%= entitiesName %>.new" class="btn new" title="Create new item" tagName='button' }}{{/link-to}}
  </div>

  {{#if model}}
    <table>
      <thead>
        {{display-<%= entityName %>-attributes-header model=model}}
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{display-<%= entityName %>-attributes-row model=item}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="empty">
      No {{t '<%= entitiesName %>'}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> to create a new {{t '<%= entityName %>'}}.
    </div>
  {{/if}}
</div>
