<div class="content">
  <h2 class="title">{{t '<%= entitiesName %>'}}</h2>
  {{#unless <%= readonly %>}}
    <div class="actions">
      {{#link-to "<%= entitiesName %>.new" class="btn new" title="Create new item" tagName='button' }}Create{{/link-to}}
    </div>
  {{/unless}}
  {{#if model}}
    <table>
      <thead>
        {{display-<%= entityName %>-attributes-header model=model}}
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{display-<%= entityName %>-attributes-row model=item}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="empty">
      No {{t '<%= entitiesName %>'}} in the database.
      {{#unless <%= readonly %>}} Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t '<%= entityName %>'}}.
      {{/unless}}
    </div>
  {{/if}}
</div>
