<div class="content">
  <h2 class="title">{{t '<%= entitiesName %>'}}</h2>
  {{#unless <%= readonly %>}}
    <div class="actions">
      {{#link-to "<%= entitiesName %>.new" class="btn new" title="Create new item" tagName='button' }}Create{{/link-to}}
    </div>
  {{/unless}}
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          <%= attributes.map( function(property) {
              return '  <th class="properties__label">{{t \'' + property.itemVar + '\'}}</th>';
            }).join("\n") %>
            <%= relationships.map( function(relationship) {
              return '  <th class="properties__label">{{t \'' +  relationship.itemVar + '\'}}</th>';
            } ).join("\n")
            %>
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "<%= entitiesName %>.show" item tagName='tr' }}
            {{handle-attribute model=item attribute='id' tagName='td' classes='properties__data'}}
            <%= attributes.map( function(property) {
                if(property.kind == "lang-string-set") {
                  return "<td>{{display-attribute-string-set model=item attribute='" + property.itemVar + "' lang=true tagName='ul' innerTagName='li' classes='string-set'}}</td>";
                }
                if(property.kind == "string-set") {
                  return "<td>{{display-attribute-string-set model=item attribute='" + property.itemVar + "' tagName='ul' innerTagName='li' classes='string-set'}}</td>";
                }
                else {
                  return "{{handle-attribute model=item attribute='" + property.name + "' tagName='td' classes='properties__data'}}";
                }
              }).join("\n") %>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="empty">
      No {{t '<%= entitiesName %>'}} in the database.
      {{#unless <%= readonly %>}} Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t '<%= entityName %>'}}.
      {{/unless}}
    </div>
  {{/if}}
</div>
