<div class="new">
  <h2 class="title">{{t 'New <%= entityName %>'}}</h2>
  <div class="actions">
    <button type="button" class="btn save" title="Save new <%= entityName %>" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <%=
        // TODO this currently only understands regular inputs
        attributes.map( function(attribute) {
          return "<tr><td>" + attribute.name + "</td><td align='middle'>{{input value=model." + attribute.itemVar +" placeholder=attribute.name}}</td></tr>";
        }).join("\n      ")
      %>
      <%=
        belongsToRelationships.map( function(relationship) {
          return "<tr><td>" + relationship.name + "</td><td align='middle'>{{edit-belongs-to relName=model."+relationship.name+" relType=\""+relationship.itemVarSingle+"\"}}</td></tr>";
        }).join("\n      ")
      %>
      <%=
        hasManyRelationships.map( function(relationship) {
          return "<tr><td>" + relationship.name + "</td><td align='middle'>{{edit-has-many relName=model."+relationship.name+" relType=\""+relationship.itemVarSingle+"\"}}</td></tr>";
        }).join("\n      ")
      %>
    </tbody>
  </table>
</div>
