<div class="details">
  <h2 class="title">{{t '<%= entityName %> details'}}</h2>
  <div class="actions">
    {{#link-to "<%= entitiesName %>" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#unless <%= readonly %>}}
      {{#link-to "<%= entitiesName %>.edit" model class="btn edit" title="Edit this item" tagName='button'}}Edit{{/link-to}}
    {{/unless}}
  </div>
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
<%= attributes.map( function(property) {
          if(property.kind == "lang-string-set") {
            return "      <tr>\n" +
              "        <td class=\"properties__label\">{{t '" + property.name + "'}}</td>\n" +
              "        <td>{{display-attribute-string-set model=model attribute='" + property.name + "' lang=true tagName='ul' innerTagName='li' classes='string-set'}}</td>\n" +
              "      </tr>";
          }
          else if(property.kind == "string-set") {
            return "      <tr>\n" +
              "        <td class=\"properties__label\">{{t '" + property.name + "'}}</td>\n" +
              "        <td>{{display-attribute-string-set model=model attribute='" + property.name + "' tagName='ul' innerTagName='li' classes='string-set'}}</td>\n" +
              "      </tr>";
          }
          else {
            return "      <tr>\n" +
              "        <td class=\"properties__label\">{{t '" + property.name + "'}}</td>\n" +
              "        {{handle-attribute model=model attribute='" + property.name + "' tagName='td' classes='properties__data'}}\n" +
              "      </tr>";
          }
        }).join("\n")
      %>
<%= belongsToRelationships.map( function(relationship) {
        console.log(relationship);
        return "      <tr>\n" +
 		 	  '        <td class="properties__label">{{t \'' +  relationship.name + '\'}}</td>\n' +
        '        <td>{{display-model-relationship model=model.' + relationship.name + ' kind=\''+ relationship.kind + '\' itemRoute=\'' + relationship.relRoute  + '.show\' relationRoute=\'' + relationship.relRoute + '.index\' relationFilterKey=\'' + entityName + '\' relationFilterValue=model.id configuredLabel=\'stringRep\'}}</td>\n' +
        '      </tr>';
        } ).join("\n")
      %>
<%= hasManyRelationships.map( function(relationship) {
        console.log(relationship);
        return "      <tr>\n" +
   		  '        <td class="properties__label">{{t \'' +  relationship.name + '\'}}</td>\n' +
        '        <td>{{display-model-relationship model=model.' + relationship.name + ' kind=\''+ relationship.kind + '\' itemRoute=\'' + relationship.relRoute  + '.show\' relationRoute=\'' + relationship.relRoute + '.index\' relationFilterKey=\'' + entityName + '\' relationFilterValue=model.id configuredLabel=\'stringRep\'}}</td>\n' +
        '      </tr>';
       } ).join("\n")
      %>
    </tbody>
  </table>
</div>
