<div class="edit">
  <h2 class="title">{{t 'Edit book'}}</h2>
  <div class="actions">
    <button type="button" class="btn save" title="Save new book" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' model}}>Delete</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>title</td><td align='middle'>{{input value=model.title placeholder=attribute.name}}</td></tr>
  <tr><td>isbn</td><td align='middle'>{{input value=model.isbn placeholder=attribute.name}}</td></tr>
    </tbody>
  </table>
</div>





{{!-- TODO: relationships and lang-string-set!!! --}}
    
  
