{{!-- Page to list books --}}
<div class="content">
  <h2 class="title">{{t 'books'}}</h2>
  <div class="actions">{{#link-to "books.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="title" currentSort=sort}}
{{sortable-table-header attribute="isbn" currentSort=sort}}

          {{sortable-table-header attribute="mainAuthor" currentSort=sort}}
          {{sortable-table-header attribute="authors" currentSort=sort}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "books.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='title' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='isbn' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.mainAuthor tagName='td' itemRoute='authors.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.authors tagName='td' itemRoute='authors.show' configuredLabel='stringRep'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t 'books'}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t "book"}}.
    </div>
  {{/if}}
</div>
