<div class="details">
  <h2 class="title">{{t 'book details'}}</h2>
  <div class="actions">
    {{#link-to "books" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#unless }}
      {{#link-to "books.edit" model class="btn edit" title="Edit this item" tagName='button'}}Edit{{/link-to}}
    {{/unless}}
  </div>
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'title'}}</td>
        <td>{{handle-attribute model=model attribute='title' tagName='td' classes='properties__data'}}</td>
      </tr>
      <tr>
        <td class="properties__label">{{t 'isbn'}}</td>
        <td>{{handle-attribute model=model attribute='isbn' tagName='td' classes='properties__data'}}</td>
      </tr>

      <tr>
        <td class="properties__label">{{t 'authors'}}</td>
        <td>{{display-model-relationship model=model.authors kind='has-many' itemRoute='authors.show' relationRoute='authors.index' relationFilterKey='book' relationFilterValue=model.id configuredLabel='stringRep'}}</td>
      </tr>
    </tbody>
  </table>
</div>
