<tr>
  <td class="properties__label">id</td>
  <td class="properties__data">{{id}}</td>
</tr>

<%= attributes.map( function(property) {
     if(property.kind == "lang-string-set") {
       return "<div class=\"row\"><div class=\"col s4\">" + property.name + "</div>"
       + "<div class=\"col s8\">"
       + "{{#each model." + property.itemVar + " as |label index|}}"
         + "<div class=\"row\">"
         + "<div class=\"col s8 field--location\">{{label.content}}{{input type=\"text\" value=label.content}}</div>"
         + "<div class=\"col s4 field--language\">{{label.language}}{{input type=\"text\" value=label.language}}</div>"
         + "</div>"
       + "{{/each}}</div></div>";
     }
     else {
        return "<tr>" +
        '  <td class="properties__label">{{t \'' + property.itemVar + '\'}}</td>' + "\n" +
    		'  <td class="properties__data">{{t \'' + property.itemVar +'\' }}</td>' + "\n" +
        '</tr>';
      }
}).join("\n") %>
