<tr>
  <td class="properties__label">id</td>
  <td class="properties__data">{{gr-display-field model=model field='id' }}</td>
</tr>
 <%= attributes.map( function(property) {
    return "<tr>" +
    '  <td class="properties__label">{{t \'' + property.itemVar + '\'}}</td>' + "\n" +
		'  <td class="properties__data">{{gr-display-field model=model field=\'' + property.itemVar +'\' }}</td>' + "\n" +
    '</tr>';
}).join("\n") %>
   <%=
    relationships.map( function(relationship) {
      return "<tr>" +
			  '  <td class="properties__label">{{t \'' +  relationship.itemVar + '\'}}</td>' +
				"\n" + '  {{display-model-relationship model=model.' + relationship.itemVar + ' kind=\''+ relationship.kind + '\' itemRoute=\'' + relationship.itemRoute  + '\' relationRoute=\'' + relationship.itemListRoute + '\' relationFilterKey=\'' + entityName + '\' relationFilterValue=model.id configuredLabel=\'id\'}}' + "\n" +
        '</tr>';
    } ).join("\n")
    %>
